<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">

<head th:replace="~{ _layout :: header( ~{::title}, _, ~{::script}) }">
    <title>Accueil</title>
    <script>
        function confirmDelete( e ){
            if ( ! confirm('Voulez-vous reellement supprimer ce categorie ?')){
                e.preventDefault();
            }
        }
    </script>
</head>

<body>

    <nav th:replace="~{ _layout :: menu }">

    </nav>

    <div class="container mt-3">

        <div class="row">
            <div class="col">
                <h1>Nos categories</h1>
            </div>
            <div class="col">

                <form th:action="@{/categories}" method="get">
                    <div class="input-group">
                        <input type="text" id="mc" name="mc" th:value="${mots}" class="form-control" placeholder="Mots cles">
                        <button class="btn btn-success">Rechercher</button>
                        <a th:href="@{/categories}" class="btn btn-primary">RAZ</a>
                    </div>
                    <input type="hidden" name="s" th:value="${infoPage.size}">
                </form>
            </div>
            <div class="col">
                <a th:href="@{/categorieEdit(p=${infoPage.number}, s=${infoPage.size}, mc=${mots})}" class="btn btn-success">Ajouter une categorie</a>
            </div>
        </div>



        <div class="alert alert-dismissible alert-success" th:if="${action=='new'}" >
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            Le categorie <strong th:text="${categorie.nom}"></strong> a bien ete cree. 
        </div>
        <div class="alert alert-dismissible alert-success" th:if="${action=='mod'}" >
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            Le categorie <strong th:text="${categorie.nom}"></strong> a bien ete modifiee. 
        </div>
        <div class="alert alert-dismissible alert-warning" th:if="${action=='del'}" >
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            Le categorie a bien ete supprime. 
        </div>

        

        <ul>
            <li th:each=" cat : ${categories} " th:text="${cat.nom}" > Du texte pour rien </li>
        </ul>

        <h3 class="text-center" th:if="${categories.size()==0}">Aucun categorie trouve !</h3>
        <table class="table table-hover" th:if="${categories.size()>0}">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">nom</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <tr th:each=" cat : ${categories}" >
                    <td th:text="${cat.id}" ></td>
                    <td th:text="${cat.nom}" ></td>
                    <td>
                        <a th:href="@{/categorieEdit(id=${cat.id}, p=${infoPage.number}, s=${infoPage.size}, mc=${mots})}"  class="btn btn-success">Modifier</a>
                        <a th:if="${cat.produits == null or cat.produits.isEmpty()}"
                        th:href="@{/categorieDelete(id=${cat.id}, p=${infoPage.number}, s=${infoPage.size}, mc=${mots})}" onclick="confirmDelete(event)" class="btn btn-warning">Supprimer</a>

                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">

            <div class="col">
                <ul class="pagination" th:if="${infoPage.totalPages>1}">
                    <li th:class="${infoPage.first} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" th:href="@{/categories(p=${infoPage.number-1}, s=${infoPage.size} , mc=${mots})}">&laquo;</a>
                    </li>
                    <li class="page-item" th:each="i : ${ #numbers.sequence( 1, infoPage.totalPages ) }" th:classappend="${infoPage.number==i-1} ? 'active' : '' ">
                        <a class="page-link" th:href="@{/categories(p=${i-1}, s=${infoPage.size} , mc=${mots})}" th:text="${i}"></a>
                    </li>
                    <li th:class="${infoPage.last} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" th:href="@{/categories(p=${infoPage.number+1}, s=${infoPage.size} , mc=${mots})}">&raquo;</a>
                    </li>
                </ul>
            </div>

            <div class="col">

                <form th:action="@{/categories}" method="get">
                    <div class="form-group">
                        <label for="size">categories par page</label>
                        <select name="s" id="size" class="form-control" onchange="this.form.submit()">
                            <option th:each="s : ${ #numbers.sequence(5,50,5)}" th:value="${s}" th:text="${s}" th:selected="${infoPage.size==5}">#</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
          </div>
    </div>

</body>
</html>